*{
    font-family: 'Open Sans', sans-serif;
}
.sublink li{
    position: relative;
}
.sublink li::before{
    position: absolute;
    content:"";
    width:100%;
    height:1px;
    background-color:rgb(235, 234, 234);
    left:0;
    top:-7px;
}