.all-banner{
    background-image:url('../../assets//image//bg-2.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
}
.all-banner::before{
    position: absolute;
    content:"";
    width:100%;
    height:100%;
    left:0;
    top:0;
    background-color:#ffffff5b;
}